* {
  margin: 0;
  padding: 0;
  font-family: Segoe UI, sans-serif;
  box-sizing: border-box;
}

.body{
  overflow: hidden;
}

:root {
  --d-blue: #012030;
  --l-blue: #13678a;
  --d-green: #45c4b0;
  --l-green: #9aeba3;
  --l-yellow: #dafdba;
}

.test {
  position: absolute;
  left: 200px;
  top: 50px;
  width: 100px;
}
#map {
  height: 100%;
  width: 100%;
  position: absolute;
  border: none;
}

.btn-second {
  position: absolute;
  display: block;
  width: 100%;
  color: white;
  background-color: #04aa6d;
  padding: 10px;
  font-size: 18px;
  border: none;
  margin-bottom: 0px !important;
}

.btn-second:hover {
  background-color: rgb(18, 63, 47);
  font-weight: bold;
  cursor: pointer;
}

.region-popup {
  display: flex;
  max-width: 12% !important;
  font: 12px/20px "Helvetica Neue", Segoe UI, sans-serif;
  box-shadow: none;
  border: none;
}

.pop-img {
  display: block;
  width: 100%;
  /* border-radius: 20px; */
}

.mapboxgl-popup-content {
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  box-shadow: none;
  justify-items: left;
  background-color: rgba(244, 244, 244, 0.502);
  border-radius: 20px;
}

.mat_p {
  color: #525252;
  background-color: #96d96ab7;
  /* border-radius: 10px; */
  margin-bottom: 10px;
  padding: 5px;
}

.carousel-cont {
  position: absolute !important;
  padding: 30px;
  bottom: 0;
  display: flex;
  width: 100%;
  margin-bottom: 25px;
  height: 18%;
  align-items: center;
  justify-content: space-evenly;
  background-color: #96d96a80;
  display: none;
}

.c-img {
  height: 150px !important;
  width: auto;
}

.layer-list {
  position: absolute;
  right: 40px;
  height: 94%;
  width: 20%;
  margin: 30px;
  padding: 40px 40px 40px 40px;
  background-color: #ffffffc1;
  border-radius: 10px;
  border-color: #04aa6d;
  border-width: 5px;
  overflow: hidden
}

#change{
  position:absolute !important;
}

.form-check-label {
  color: rgb(0, 0, 0);
  font-weight: normal;
  font-size: 14px;
  margin-left: 10px;

  /* font-family: monospace; */
}

.form-title {
  color: var(--d-blue);
  font-weight: normal;
  /* font-family: monospace; */
  font-size: 20px;
  margin-bottom: 10px;
  padding-left: 10px !important;
  padding-right: 50px !important;
  width: 100%;
  background-color: var(--l-green);
  padding: 5px;
  border-radius: 5px;
}

.form-check {
  margin-left: 5px;
}

.legendTitle {
  font-size: 15px;
  fill: #4f4f4f;
  font-weight: 12;
}

.axis path,
.axis line {
  fill: none;
  stroke: none; /*black;*/
  shape-rendering: crispEdges;
}

.axis text {
  font-family: Consolas, courier;
  fill: #000;
  font-size: 9pt;
}

#legend {
  height: 80px;
}

.btn-list {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.layer-btn {
  background-color: var(--l-blue);
  border: none;
  height: 25px;
  text-transform: uppercase;
  font-family: inherit;
  color: white;
  font-size: 12px;
  width: 100%;
}

.active {
  opacity: 70%;
}
.active,
.layer-btn:hover {
  opacity: 70%;
}

.f-img {
  width: 100%;
  margin: auto;
  opacity: 90%;
}


.img-container{
  /* background-color: var(--l-green); */
  height: 225px;
  overflow: hidden;
  border-style: none solid none solid;
  border-color: var(--l-blue); 
  background-color: #7c7c7c17;
}

.info-container{
  background-color: #7c7c7c17;
  height: 60px;
  padding: 0px;
  margin-bottom: 20px;
  margin-top: 20px;
  border-style: none solid none solid;
  border-color: var(--l-blue); 
  padding: 10px;
  display: flex;
  gap: 20px;
  justify-content: center;
  
}

.info-box{
  margin: 0 !important;
  text-align: center;
  padding: 0 !important;
  font-size: 14px;
  color: var(--d-blue);
}


.f-chart {
  background: none !important;
  border: none !important;
  max-width: 280px;
  margin: 0px auto !important;
  padding: 0px !important;
}

#type {
  margin-top: 20px;
}
