* {
  margin: 0;
  padding: 0;
  /* font-family: "Montserrat", sans-serif !important; */
  box-sizing: border-box;
}

.body {
  overflow: hidden;
}

#age-legend,
#concrete-legend,
#brick-legend,
#stone-legend,
#glass-legend,
#metal-legend,
#wood-legend {
  display: none;
}

#Bcount{
  margin: auto !important;
}
#BRcount{
  margin: auto !important;
}

:root {
  --d-blue: #012030;
  --l-blue: #13678a;
  --d-green: #56a356;
  --l-green: #9ce68a;
  --l-yellow: #dafdba;
}

.test {
  position: absolute;
  left: 200px;
  top: 50px;
  width: 100px;
}
#map {
  height: 100%;
  width: 100%;
  position: absolute;
  border: none;
}

.btn-second {
  position: absolute;
  display: block;
  width: 100%;
  color: white;
  background-color: #04aa6d;
  padding: 10px;
  font-size: 18px;
  border: none;
  margin-bottom: 0px !important;
  font-family: "Montserrat", sans-serif
}

.btn-second:hover {
  background-color: rgb(18, 63, 47);
  font-weight: bold;
  cursor: pointer;
}

.region-popup {
  display: flex;
  max-width: 12% !important;
  font: 12px/20px "Helvetica Neue", Segoe UI, sans-serif;
  box-shadow: none;
  border: none;
}

.pop-img {
  display: block;
  width: 100%;
  /* border-radius: 20px; */
}

.mapboxgl-popup-content {
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  box-shadow: none;
  justify-items: left;
  background-color: rgba(244, 244, 244, 0.502);
  border-radius: 20px;
}

.mat_p {
  color: #525252;
  background-color: #96d96ab7;
  /* border-radius: 10px; */
  margin-bottom: 10px;
  padding: 5px;
}

.carousel-cont {
  bottom: 0;
  display: flex;
  width: 100%;
  height: 40%;
  align-items: center;
  justify-content: space-evenly;
  /* display: none; */
}
.carCaption{
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  margin-top: 10px;
}
.c-img {
  height: 20% !important;
  width: auto;
  opacity: 100% !important;
}



#change {
  position: absolute !important;
}

.form-check-label {
  color: rgb(0, 0, 0);
  font-weight: normal;
  font-size: 14px;
  margin-left: 10px;

  /* font-family: monospace; */
}

.form-title {
  color: white;
  font-weight: normal;
  /* font-family: monospace; */
  font-size: 16px;
  margin-bottom: 10px;
  padding-left: 15px !important;
  padding-right: 50px !important;
  width: 100%;
  background-color: var(--l-blue);
  padding: 5px;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
}

.form-check {
  margin-left: 5px;
}

.legendTitle {
  font-size: 15px;
  fill: #4f4f4f;
  font-weight: 12;
}

.axis path,
.axis line {
  fill: none;
  stroke: none; /*black;*/
  shape-rendering: crispEdges;
}

.axis text {
  font-family: Consolas, courier;
  fill: #000;
  font-size: 9pt;
}

#legend {
  height: 80px;
}

.btn-list {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.layer-btn {
  background-color: var(--d-green);
  border: none;
  height: 25px;
  text-transform: uppercase;
  font-family: inherit;
  color: white;
  font-size: 12px;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

.layer-btn:active{
  background-color: var(--l-green);
  color: var(--l-blue);
}

.layer-btn:focus{
  background-color: var(--l-green);
  color: var(--l-blue);
}

.layer-btn:target{
  background-color: var(--l-green);
  color: var(--l-blue);
}
.active {
  opacity: 70%;
}
.active,
.layer-btn:hover {
  opacity: 70%;
}

.features-list{
margin-bottom: 10px;
}

.f-img {
  width: 100%;
  margin: auto;
  opacity: 90%;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  top: 50%;
  font-weight: bold;
  font-size: 14px;
  color: var(--d-green);
}

.info-center {
  display: flex;
  font-size: 14px;
  height: 100%;
  text-align: center;
  align-items: center;
  margin: auto;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: var(--d-green);
}

.img-container {
  /* background-color: var(--l-green); */
  display: flex;
  height: 225px;
  overflow: hidden;
  border-style: none solid none solid;
  border-color: var(--l-blue);
  background-color: #7c7c7c17;
  align-items: center;
}

.info-container {
  background-color: #7c7c7c17;
  height: 60px;
  padding: 0px;
  margin-bottom: 10px;
  margin-top: 20px;
  border-style: none solid none solid;
  border-color: var(--l-blue);
  padding: 10px;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.info-box {
  margin: 0 !important;
  text-align: center;
  padding: 0 !important;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: var(--d-green);
}

.f-chart {
  background: none !important;
  border: none !important;
  max-width: 100%;
  margin: 0px auto !important;
  padding: 0px !important;
  box-shadow: none !important;
}

#type {
  margin-top: 20px;
}

#g-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  align-content: center;
  align-items: center;
  gap: 10px;
  bottom: 60px;
  left: 10px;
  width: 50px;
  height: 80%;
}

#g-age {
  width: 30px;
  height: 100%;
  background-color: #186a71; /* For browsers that do not support gradients */
  background-image: linear-gradient(0deg, #044348, #c7e9ee);
  box-shadow: 5px 0px rgb(250, 250, 250);
}

#g-concrete {
  width: 30px;
  height: 100%;
  background-color: #91c8f9; /* For browsers that do not support gradients */
  background-image: linear-gradient(0deg, #91c8f9, #0c3c68);
  box-shadow: 5px 0px rgb(250, 250, 250);
}

#g-brick {
  width: 30px;
  height: 100%;
  background-color: #d67de3; /* For browsers that do not support gradients */
  background-image: linear-gradient(0deg, #d67de3, #3a0342);
  box-shadow: 5px 0px rgb(250, 250, 250);
}

#g-stone {
  width: 30px;
  height: 100%;
  background-color: #cdacac; /* For browsers that do not support gradients */
  background-image: linear-gradient(0deg, #cdacac, #3e1b1b);
  box-shadow: 5px 0px rgb(250, 250, 250);
}

#g-glass {
  width: 30px;
  height: 100%;
  background-color: #ebb992; /* For browsers that do not support gradients */
  background-image: linear-gradient(0deg, #ebb992, #6d2100);
  box-shadow: 5px 0px rgb(250, 250, 250);
}

#g-metal {
  width: 30px;
  height: 100%;
  background-color: #cadfa9; /* For browsers that do not support gradients */
  background-image: linear-gradient(0deg, #cadfa9, #3d4600);
  box-shadow: 5px 0px rgb(250, 250, 250);
}

#g-wood {
  width: 30px;
  height: 100%;
  background-color: #ffeb43; /* For browsers that do not support gradients */
  background-image: linear-gradient(0deg, #ffeb43, #a15f00);
  box-shadow: 5px 0px rgb(250, 250, 250);
}

.g-label {
  text-align: center;
  color: white;
  font-size: 16px;
  padding: 5px;
  font-weight: bold;
  width: 50px;
  margin: auto;
  background-color: #000;
}

.boxdraw {
  background: rgba(56, 134, 190, 0.233);
  border: 2px solid #3887be;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
}

.faction {
  position: absolute;
  right: 450px;
  top: 30px;
  width: 100px;
  height: 100px;
  background-color: #04aa6d;
}

.mapaction {
  position: absolute;
  right: 580px;
  top: 30px;
  width: 100px;
  height: 100px;
  background-color: #04aa6d;
}


/* Style the buttons inside the tab */



.sidetab{
  position: absolute;
  width: 20% !important;
  height: 93%;
  right: 0px !important;
  display: flex;
  flex-direction: column;
  background-color: #ffffffda;
  margin: 30px;
  border-radius: 20px;
}

.tab{
  border-radius: 20px;
}

.tabcontent {
  /* position: absolute; */
  right: 0px;
  height: 94%;
  margin: 30px;
  overflow: hidden;
  /* border-radius: 20px !important; */
}
.tab button {
  background-color: var(--d-blue);
  float: left;
  cursor: pointer;
  width: 200px;
  height: 40px;
  transition: 0.3s;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 0px 10px 0px 0px;
  font-family: "Montserrat", sans-serif;  
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: var(--l-blue);
  width: 110%;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: var(--l-blue);
  width: 103%;
}

.topright{
  display: none;
}
/* Style the tab */

.tab{display: flex;
  flex-direction: row;
  justify-content:flex-start;
  gap: 1px;
}

.layer-list{
  margin-bottom: 10px;
}
/* .layer-list {
  position: absolute;
  right: 5px;
  height: 94%;
  width: 20%;
  margin: 30px;
  padding: 40px 40px 40px 40px;
  background-color: rgba(255, 255, 255, 0.757);
  border-radius: 10px;
  border-color: #04aa6d;
  border-width: 5px;
  overflow: hidden;
} */


.user-hint{
  background-color: rgba(87, 87, 87, 0.603);
  padding: 10px;
  color: rgb(255, 255, 255);
  border-radius: 10px 10px 10px 0px;
  font-family: "Montserrat", sans-serif
}

.proj-title{
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: var(--l-blue);
  padding-bottom: 10px;
  border-width: 0px 0px 3px 0px;
  border-color: var(--d-green);
  border-style: solid;
}

.proj-info{
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  color: black;
  padding-bottom: 10px;
  text-align: justify;
}

.listTitle{
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: var(--l-blue);
  padding-bottom: 10px;
  border-width: 0px 0px 3px 0px;
  border-color: var(--d-green);
  border-style: solid;
}

.procList{
  font-family: "Montserrat", sans-serif!important;
  font-size: 13px;
  color: black;
  padding-bottom: 10px;
  text-align: justify;
}
.li {
  font-size: 14px;
  margin-left: 10px;
  list-style-type: circle !important;
  display: list-item !important;
  font-family: "Montserrat", sans-serif!important;
  line-height: 16px;
}
.list{
  font-family: "Montserrat", sans-serif!important;
}

.iaLogo{
  height: auto;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
}